:root {
    --nav-virtical-padding: 0.5em;
}

body {
    scroll-behavior: smooth;
}

nav {
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    padding: 0;
    list-style: none;
}

nav li {
    border: 1px dashed gray;
}

nav li:nth-of-type(1) {
    background-color: #ffbdbd;
}

nav li:nth-of-type(2) {
    background-color: #e1f7d5;
}

nav li:nth-of-type(3) {
    background-color: #c9c9ff;
}

nav li a {
    display: block;
    padding: var(--nav-virtical-padding) 1em;
}

section {
    min-height: 80vh;
    padding-top: calc(var(--nav-virtical-padding) * 2 + 1em);
}

#section1 {
    background-color: #ffbdbd;
}

#section2 {
    background-color: #e1f7d5;
}

#section3 {
    background-color: #c9c9ff;
}

:target {
    border: solid 4px gray;
}
